nav {
    min-width: 100vw;
    height: 90px;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;


    .logo {
        img {
            cursor: pointer;
            margin: 25px;
        }
    }

    ul {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-right: 25px;

        li {
            list-style-type: none;
            color: var(--gold);
            text-decoration: none;
            cursor: pointer;
            text-underline-position: under;

            &:hover{ 
                text-decoration: underline var(--gold);
            }
        }
    }
}