$tablet-width: 80em;
$phone-width: 37em;

.App {
    display: grid;
    grid-template-rows: repeat(4, 100vh);
    justify-items: center;
    align-items: center;
    height: 400vh;

    //responsiveness - disable game page
    @media only screen and (max-width: $tablet-width) {
        grid-template-rows: repeat(3, 100vh);
        height: 300vh;
    }
}

#home, #experience, #snake, #contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}