@import "app";

nav {
    min-width: 100vw;
    height: 90px;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;


    .logo {
        img {
            cursor: pointer;
            margin: 25px;
        }
    }

    ul.default-navbar {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-right: 25px;

        li {
            list-style-type: none;
            color: var(--gold);
            text-decoration: none;
            cursor: pointer;
            text-underline-position: under;

            &:hover{ 
                text-decoration: underline var(--gold);
            }
        }
    }

    //responsiveness - disable game page
    @media only screen and (max-width: $tablet-width) {
        #nav-button-snake { 
            display: none;
        }
    }
}


//responsiveness - arrows
@media only screen and (min-width: $tablet-width) {
    .arrow-mobile-down, .arrow-mobile-up {
        display: none;
    }
}

@media only screen and (max-width: $tablet-width) {
    .arrow-mobile-down, .arrow-mobile-up {
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
    
        svg {
            width: 35px;
            height: 35px;
        }
    }

    .arrow-mobile-down {
        bottom: 0;  
    }

    .arrow-mobile-up {
        top: 50px;  
    }
}