@import "app";

#snake {
    .container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        
        .board {
            width: 574px;
            height: 574px;
            border: 1px solid var(--board-border);
            border-radius: 6px;

            &.grid {
                display: grid;
                grid-template-columns: repeat(14, auto);
                grid-template-rows: repeat(14, auto);    
                .boardCell {
                    border: 1px solid var(--board-border);
                }
            }
            
            &.graph {
                display: flex;
                align-items: center;
                justify-content: center;

                .edges {
                    position: relative;
                    width: 464px;
                    height: 464px;
                    border-bottom: 1px solid var(--gold);
                    border-left: 1px solid var(--gold);
                    
                    .columns {
                        margin: 0 60px 0 17px;
                        height: 100%;
                        display: grid;
                        align-content: end;
                        grid-template-columns: repeat(7, auto);
                        column-gap: 12px;

                        .column {
                            align-self: end;
                            width: 100%;
                            background-color: var(--blue);
                            border-radius: 8px 8px 0 0;
                        }
                    }
                    
                    span {
                        position: absolute;
                        color: var(--board-border);
                        font-size: 12px;

                        p {
                            margin: 0;

                            &.description {
                                font-style: italic;
                            }
                        }
                    }

                    .legend-left {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        left: -12px;
                        bottom: 0;
                        height: calc(100% - 12px);
                        
                        p {
                            position: absolute;

                            &.description{
                                transform: rotate(270deg);
                            }
                        }
                    }

                    .legend-down {
                        display: grid;
                        grid-template-columns: repeat(8, auto);;
                        justify-content: space-between;
                        width: calc(100% - 40px);
                        bottom: -20px;
                        left: 24px;

                        p {
                            width: 25px;
                        }
                    }
                }
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    //responsiveness - disable game page
    @media only screen and (max-width: $tablet-width) {
        display: none;
    }
}